$x-brand-palette: (
  50: #E5E5E8,
  100: #BFBFC5,
  200: #94949E,
  300: #696977,
  400: #484859,
  500: #28283C,
  600: #242436,
  700: #1E1E2E,
  800: #181827,
  900: #0F0F1A,
  A100: #5D5DFF,
  A200: #2A2AFF,
  A400: #0000F6,
  A700: #0000DD,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: white,
  )
);

$x-brand-palette-accent: (
  50: #F7E4EE,
  100: #EABCD5,
  200: #DC8FB9,
  300: #CE629D,
  400: #C44088,
  500: #B91E73,
  600: #B21A6B,
  700: #AA1660,
  800: #A21256,
  900: #930A43,
  A100: #FFC1D8,
  A200: #FF8EB7,
  A400: #FF5B97,
  A700: #FF4187,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: white,
  )
);
